<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    
    <link rel="stylesheet" href="../static/css/bootstrap.fa.min.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
    <div class="wrapper hover_collapse">
        <nav class="navbar navbar-expand navbar-light bg-dark shadow ">
            <div class="nav-item" style="margin-right: 15px;">
                <a class="hamburger"><i class="fas fa-bars"></i></a>
            </div>
            <ul class="navbar-nav" style="margin-right: 25px;">
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf15c;</i> سوابق خرید</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf07a;</i> سبد خرید</a>
                </li>      
            </ul>
            <div class="navbar-nav mr-auto">
                <a href="" class="nav-link">CAFE</a>
              </div>
            <div class="navbar-nav nav-item mr-auto">
                <a href="" class="nav-link">ورود به حساب کاربری</a>
            </div>    
        </nav>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas"> &#xf7b6;</i></span>
                        <span class="text">نوشیدنی گرم</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"> <i class="fas"> &#xf5ce; </i></span>
                        <span class="text">نوشیدنی سرد</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas"> &#xf0fc;</i></span>
                        <span class="text">چای و دمنوش</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas"> &#xf7ef;</i></span>
                        <span class="text">کیک ها</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <script>
    var li_items = document.querySelectorAll(".sidebar ul li");
    var hamburger = document.querySelector(".hamburger");
    var wrapper = document.querySelector(".wrapper");


    li_items.forEach((li_item)=>{
        li_item.addEventListener("mouseenter", ()=>{
            
            if(wrapper.classList.contains("click_collapse")){
                return;
            }
            else{
                li_item.closest(".wrapper").classList.remove("hover_collapse");
            }
        })
    })

    li_items.forEach((li_item)=>{
        li_item.addEventListener("mouseleave", ()=>{
            
            if(wrapper.classList.contains("click_collapse")){
                return;
            }
            else{
                li_item.closest(".wrapper").classList.add("hover_collapse");
            }
        })
    })

    hamburger.addEventListener("click", () => {
        hamburger.closest(".wrapper").classList.toggle("click_collapse");
        hamburger.closest(".wrapper").classList.toggle("hover_collapse");
    })


    </script>
   <script src="../static/scripts/jquery-3.3.1.slim.min.js"></script>
   <script src="../static/scripts/popper.min.js"></script>
   <script src="../static/scripts/bootstrap.min.js"></script>
</body>
</html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.fa.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper hover_collapse">
        <nav class="navbar navbar-expand shadow fixed-top">
            <div class="nav-item" style="margin-right: 15px;">
                <a class="hamburger"><i class="fas fa-bars"></i></a>
            </div>
            <ul class="navbar-nav blocking" style="margin-right: 25px;">
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf15c;</i> سوابق خرید</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf07a;</i> سبد خرید</a>
                </li>      
            </ul>
            <div class="navbar-nav mr-auto cafe">
                <a href="{% url 'index' %}" class="nav-link">CAFE</a>
              </div>
            <div class="navbar-nav nav-item mr-auto blocking">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link"><i class="fas">&#xf011;</i> خروج</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link"><i class="fas">&#xf2f6;</i> ورود به حساب کاربری</a>
                {% endif %}
            </div>    
        </nav>
            <div class="sidebar">
                <div class="sidebar_inner">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf7b6;</i></span>
                            <span class="text">نوشیدنی گرم</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf5ce; </i></span>
                            <span class="text">نوشیدنی سرد</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf0fc;</i></span>
                            <span class="text">چای و دمنوش</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf7ef;</i></span>
                            <span class="text">کیک ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hide">
                            <span class="icon"><i class="fas">	&#xf07a;</i></span>
                            <span class="text">سبد خرید</span></a>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hide">
                            <span class="icon"><i class="fas"> &#xf15c;</i></span>
                            <span class="text">سوابق خرید</span></a>
                        </a>
                    </li>	
                    {% if user.is_authenticated %}    
                        <li class="leave">
                          <a href="{% url 'logout' %}" class="hide">
                               <span class="icon"><i class="fas">&#xf011;</i></span>
                              <span class="text">خروج
                               </span></a>
                          </a>
                        </li>
                    {% else %}    
                        <li>
                            <a href="{% url 'login' %}" class="hide">
                                <span class="icon"><i class="fas">&#xf2f6;</i></span>
                                <span class="text">ورود به حساب کاربری
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            <div class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel" id="mycarousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>
                    <li data-target="#mycarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="imgb d-block w-100" src="../static/pic/1.jpg" alt="" >
                    </div>
                    <div class="carousel-item">
                        <img class="imgb d-block w-100" src="../static/pic/2.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="imgb d-block w-100" src="../static/pic/3.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="imgb d-block w-100" src="../static/pic/4.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="imgb d-block w-100" src="../static/pic/5.jpg" alt="">
                    </div>
                </div>
                <a href="#mycarousel" role="button" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span></a>
                
                <a href="#mycarousel" role="button" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon"></span></a>
                
            </div>
            <div style="height: 400px; background-color: aqua; top: 400px;"></div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>درباره ما</h5>
                            <p>ما یک تیم از توسعه دهندگان وب هستیم که بر ایجاد پروژه‌های حرفه‌ای و کاربرپسند تمرکز داریم.</p>
                        </div>
                        <div class="col-md-4">
                            <h5>لینک‌ها</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> صفحه اصلی</a></li>
                                <li><a href="{% url 'products' %}"><i class="fas">&#xf291;</i> محصولات</a></li>
                                <li><a href="#"><i class="fas">&#xf15c;</i> سوابق خرید</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>اطلاعات تماس</h5>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-envelope"></i> ایمیل: CafeBizGate@gmail.com</li>
                                <li><i class="fas fa-phone"></i> تلفن: 09123456789</li>
                                <li><i class="fas fa-map-marker-alt"></i> آدرس: تهران، خیابان آزادی، دانشگاه شریف، دانشکده صنایع، vending machine طبقه همکف</li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p>&copy; 2024 تمامی حقوق محفوظ است.</p>
                        <div>
                            <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                            <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    
    
    <script>
    var li_items = document.querySelectorAll(".sidebar ul li");
    var hamburger = document.querySelector(".hamburger");
    var wrapper = document.querySelector(".wrapper");
    var footer=document.querySelector("footer");

    li_items.forEach((li_item)=>{
        li_item.addEventListener("mouseenter", ()=>{
            
            if(wrapper.classList.contains("click_collapse")){
                return;
            }
            else{
                li_item.closest(".wrapper").classList.remove("hover_collapse");
            }
        })
    })

    li_items.forEach((li_item)=>{
        li_item.addEventListener("mouseleave", ()=>{
            
            if(wrapper.classList.contains("click_collapse")){
                return;
            }
            else{
                li_item.closest(".wrapper").classList.add("hover_collapse");
            }
        })
    })

    hamburger.addEventListener("click", () => {
        hamburger.closest(".wrapper").classList.toggle("click_collapse");
        hamburger.closest(".wrapper").classList.toggle("hover_collapse");
    })

    </script>
    <script src="../static/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
</body>
</html>