
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.fa.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper hover_collapse">
        <nav class="navbar navbar-expand shadow fixed-top">
            <div class="nav-item" style="margin-right: 15px;">
                <a class="hamburger"><i class="fas fa-bars"></i></a>
            </div>
            <ul class="navbar-nav blocking" style="margin-right: 25px;">
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf15c;</i> سوابق خرید</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="" class="nav-link"><i class="fas">	&#xf07a;</i> سبد خرید</a>
                </li>      
            </ul>
            <div class="navbar-nav mr-auto cafe">
                <a href="{% url 'index' %}" class="nav-link">CAFE</a>
              </div>
            <div class="navbar-nav nav-item mr-auto blocking">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link"><i class="fas">&#xf011;</i> خروج</a>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link"><i class="fas">&#xf2f6;</i> ورود به حساب کاربری</a>
                {% endif %}
            </div>    
        </nav>
            <div class="sidebar">
                <div class="sidebar_inner">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf7b6;</i></span>
                            <span class="text">نوشیدنی گرم</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf5ce; </i></span>
                            <span class="text">نوشیدنی سرد</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf0fc;</i></span>
                            <span class="text">چای و دمنوش</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas"> &#xf7ef;</i></span>
                            <span class="text">کیک ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hide">
                            <span class="icon"><i class="fas">	&#xf07a;</i></span>
                            <span class="text">سبد خرید</span></a>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hide">
                            <span class="icon"><i class="fas"> &#xf15c;</i></span>
                            <span class="text">سوابق خرید</span></a>
                        </a>
                    </li>	
                    {% if user.is_authenticated %}    
                        <li class="leave">
                          <a href="login.html" class="hide">
                               <span class="icon"><i class="fas">&#xf011;</i></span>
                              <span class="text">خروج
                               </span></a>
                          </a>
                        </li>
                    {% else %}    
                        <li>
                            <a href="login.html" class="hide">
                                <span class="icon"><i class="fas">&#xf2f6;</i></span>
                                <span class="text">ورود به حساب کاربری
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>    
    </div>
    

    <script src="../static/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
</body>
</html>